# Dépendances (à tous les niveaux)
node_modules/
**/node_modules/

# Fichiers système
.DS_Store
Thumbs.db

# Dossier Mac (fichiers ressource)
__MACOSX/

# Logs et cache
*.log
.npm


# Plan_diaporama_soutenance_P6.md 
# Preparation_questions_soutenance_P6.md