/* Pages */
@import "../base/main.css";

/* Composants */
@import "../composants/header.css";
@import "../composants/card-home.css";


main {
    padding: 3rem 0;

    .photographer-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem 3rem;
        justify-items: center;
    }
}