/*Carte photographe*/
.card-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 350px;
    position: relative;
    transition: transform 0.4s ease;
}

.card-home:hover {
    transform: translateY(-10px) scale(1.02);
}

/* Lien vers la page du photographe */
.card-link {
    text-decoration: none;
    display: inline-block;
}

.card-home .card-link::after {
    content: "";
    position: absolute;
    inset: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* Image */
.photographer-portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.25rem;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card-home:hover .photographer-portrait {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

/* Nom */
.photographer-name {
    font-size: 2.25rem;
    font-weight: 400;
    color: var(--color-text-primary);
    margin-bottom: 0.5rem;
    transition: color 0.4s ease;
}

.card-home:hover .photographer-name {
    color: var(--color-text-secondary);
}

/* Localisation */
.photographer-location {
    font-size: 0.813rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin: 0 0 0.1875rem 0;
}

/* Tagline*/
.photographer-tagline {
    font-size: 0.625rem;
    color: var(--color-text-black);
    margin: 0.1875rem 0;
}

/* Prix */
.photographer-price {
    font-size: 0.5625rem;
    color: var(--color-text-grey);
    margin: 0.1875rem 0 0 0;
}