header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    margin-bottom: 2rem;

    img {
        width: 200px;
        height: 50px;
    }

    h1 {
        font-size: 2.25rem;
        font-weight: 400;
        color: var(--color-primary);
    } 
}